@model IEnumerable<Major>
<div>
    <select id="majorID" onchange="learnerFilterFirst()" class="form-select mb-2 w-auto">
        <option value="">All</option>
        @foreach (var m in Model)
        {
            <option value="@m.MajorID">@m.MajorName</option>
        }
    </select>
</div>

@*
<ul class="nav">
    <li class="nav-item" id="-1" style="cursor: pointer">
        <a class="nav-link">All</a>
    </li>
    @foreach (var m in Model)
    {
        <li class="nav-item" mid="@m.MajorID" style="cursor: pointer">
            <a class="nav-link">@m.MajorName</a>
        </li>
    }
</ul>
*@
