@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Learner List";
    Layout = "~/Views/Shared/MyLayoutHelper.cshtml";
}
@model IEnumerable<Learner>
<div class="ms-2 mx-2">
    <h1>Learner List</h1>
    <div id="data-page" page="@ViewBag.page" page-size="@ViewBag.pageSize" total-page="@ViewBag.totalPage" class="hidden"></div>
    <div class="form-group d-flex">
        @await Component.InvokeAsync("Major")

        <form class="ms-2">
            <div class="input-group">
                <input id="keyword" class="form-control" name="keyword"
                       type="text" placeholder="Search learner" />
                <button onclick="learnerFilterFirst()" id="btnSearch" class="btn btn-primary" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </div>

    <div id="content">
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            learnerFilter(null, null, null, null);
        });

        function learnerFilterFirst() {
            var mid = $('#majorID').val();
            var keyword = $('#keyword').val();
            var pageSize = $('#pageSize').val();

            learnerFilter(null, pageSize, mid, keyword);
        }

        function previous() {
            var mid = $('#majorID').val();
            var keyword = $('#keyword').val();
            var page = $('page-item active').val();
            var pageSize = $('#pageSize').val();
            if (page > 2) {
                learnerFilter(page - 1, pageSize, mid, keyword);
            }
        }

        function next() {
            var mid = $('#majorID').val();
            var keyword = $('#keyword').val();
            var totalPage = $('#data-page').attr('total-page');
            var page = $('page-item active').val();
            var pageSize = $('#pageSize').val();
            if (page < totalPage) {
                learnerFilter(page + 1, pageSize, mid, keyword);
            }
        }

        function learnerFilter(page, pageSize, mid, keyword) {
            $.ajax({
                url: "Filter",
                data: { page: page, pageSize: pageSize, mid: mid, keyword: keyword },
                success: function (response) {
                    $("div#content").html(response);
                }
            });
        }

        function changePage(page) {
            var mid = $('#majorID').val();
            var keyword = $('#keyword').val();
            var pageSize = $('#pageSize').val();
            learnerFilter(page, pageSize, mid, keyword);
        }

        function changePageSize() {
            var pageSize = $('#pageSize').val();
            var mid = $('#majorID').val();
            var keyword = $('#keyword').val();

            learnerFilter(null, pageSize, mid, keyword);
        }

        @*
        $('#majorID').on('change', function () {
            var majorID = $(this).val();

            $.ajax({
                url: "LearnerByMajorID",
                data: { mid: majorID },
                success: function (response) {
                    $("div#content").html(response);
                }
            });
        });

        $("li").click(function (e) {
            var mid = $(this).attr("mid");
            $.ajax({
                url: "LearnerByMajorID",
                data: { mid: mid },
                success: function (response) {
                    $("div#content").html(response);
                }
            });
        });

        $('body').on('click', 'li.page-item', function (e) {
        //do your javascript here..
        var page = $(this).attr("page");
        var mid = $(this).attr("mid");
        var keyword = $(this).attr("keyword");
        var data = { mid: mid, keyword: keyword, pageIndex: page };
        $.ajax({
        url: "Learner/LearnerFilter",
        data: data,
        success: function (response) {
        $("div#content").html(response);
        }
        });
        });

        $(".nav li").click(function (e) {
        var id = $(this).attr("id");
        var data = { mid: id };
        $.ajax({
        url: "Learner/LearnerFilter",
        data: data,
        success: function (response) {
        $("div#content").html(response);
        }
        });
        });
        $("button#btnSearch").click(function (e) {
        var keyword = $("#keyword").val();
        var data = { keyword: keyword };
        $.ajax({
        url: "Learner/LearnerFilter",
        data: data,
        success: function (response) {
        $("div#content").html(response);
        }
        });
        });
        *@
    </script>
}